<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Connecter" connectionString="Provider=Microsoft.JET.OLEDB.4.0;Data Source=|DataDirectory|db_clients.mdb;" providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>